<script>
import {mapGetters} from 'vuex'

export default {
  name: 'gallery',
  data () {
    return {
      arrPhoto: []
    }
  },
  methods: {
    getPhotoFromObject (value) {
      let val = Array.from(value)
      if (val.length === 0) {
        console.log('К сожаленью в данном разделе еще не появились работы')
        this.arrPhoto = []
      } else {
        this.arrPhoto = val.map(function (item, i) {
          return item.sizes.medium
        })
      }
    }
  },
  computed: {
    ...mapGetters(['getObjectGalleryPhoto'])
  },
  created: function () {
  }
}
</script>

<template>
  <div class="row gallery">
    <span :v-if="getObjectGalleryPhoto">{{false}}</span>
    <p class="portfolio_title">Портфолио</p>
    <ul>
      <li v-for="(value, key) in getObjectGalleryPhoto" :key="key.id">
        <a @click.stop="getPhotoFromObject(value)">{{key}}</a>
      </li>
    </ul>
    <div class="col-xs-12 col-sm-6 col-md-4 photo" v-for="item in arrPhoto" :key="item.id">
        <img :src="item" :style="{background: 'url('+ item + ') center center / cover ',
          display: '-moz-box',width: '100%',height: '100%'}"
        >
    </div>
  </div>
</template>

<style>
.gallery {
  padding-top: 5%;
}
.portfolio_title{
  text-align: center;
  letter-spacing: .5em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}
ul {
  padding: 3% 0% 5% 24%;
}
ul > li {
  float: left;
  list-style-type: none;
  padding: 1% 2%;
  font-size: 10pt;
}
ul > li > a {
  text-transform: uppercase;
  cursor: pointer;
}
.photo {
  height: 450px;
  padding: 0px;
}
</style>