<script>
import {mapGetters} from 'vuex'

export default {
  name: 'header',
  data () {
    return {
      link: 'http://devs99.org/wp-json/wp/v2/frontend'
    }
  },
  methods: {
    names () {
    }
  },
  created: function () {
  },
  computed: {
    ...mapGetters(['getHeaderObject'])
  }
}
</script>

<template>
  <div class='row header' :style="{background: 'url('+ getHeaderObject.photo.sizes.medium + ') center center / cover '}">
    <div class="col-md-12 menu">
      <div class="col-xs-6 col-sm-6 col-md-6 logo"><img src="../assets/logo.png"/></div>
      <div class="col-xs-6 col-sm-6 col-md-6 link">link</div>
    </div>
    <div class="col-md-12 headContent">
      <div class="introText" v-html="getHeaderObject.text_header"></div>
      <div class="buttonAboutUs">link</div>
    </div>
  </div>
</template>

<style>
.header {
  height: 100vh;
}
.logo>img{
  width: 40%;
  padding: 3% 0%;
}
.link{
  padding: 2% 0%; 
}
.introText{
  text-align: left;
  padding: 12% 16% 1% 16%;
}
.introText p:nth-child(1){
  color: #427ad7;
  font-size: 4em;
}
.introText p:nth-child(2){
  color: white;
  font-size: 3em;
  font-weight: bold;
}
.buttonAboutUs{
  text-align: left;
}
</style>