<script>
import {mapGetters} from 'vuex'

export default {
  name: 'partners',
  data () {
    return {
      name: 'partners'
    }
  },
  methods: {
    names () {
    }
  },
  created: function () {
  },
  computed: {
    ...mapGetters(['getHeaderObject'])
  }
}
</script>

<template>
  <div class='row partners'>
    <p class="partners_title">{{ getHeaderObject.block_name }}</p>
    <p class="partners_content" v-html="getHeaderObject.text_content"></p>
  </div>
</template>

<style>
.partners {
  background: #3b87ca;
  padding-top: 5%;
}
.partners_title{
  text-align: center;
  color: white;
  letter-spacing: .5em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}
.partners_content{
  color: white;
  padding: 3% 0%;
}
</style>