<script>
// import {mapGetters} from 'vuex'

export default {
  name: 'test',
  data () {
    return {
      message: 'contacts',
      link: 'http://devs99.org/wp-json/wp/v2/frontend'
    }
  },
  methods: {
    initGetResponse () {
      this.$store.dispatch('getDataJson', this.link)
    }
  },
  created: function () {
    this.initGetResponse()
  },
  computed: {
    // ...mapGetters(['getJson'])
  }
}
</script>

<template>
<div id="hello" class="container">
<h2>{{message}}</h2>
{{getJson}}
<br>

</div>
</template>

<style >
body {
  font-size: 16px;
}
#hello {
  padding-top: 2%;
}
.currentliWearher {
  padding: 2% 0%;
}
.nameBold {
  font-size: 22px;
  text-decoration: underline;
}
.date{
  text-align: right
}
.content{
  text-align: left
}
.ourTeam{
  
}
</style>