<script>
import gallery from '../gallery'
import headComp from '../header'
import partners from '../partners'

export default {
  name: 'test',
  components: { headComp, gallery, partners },
  data () {
    return {
      link: 'http://devs99.org/wp-json/wp/v2/frontend'
    }
  },
  methods: {
    initGetResponse () {
      this.$store.dispatch('getDataJson', this.link)
    }
  },
  created: function () {
    this.initGetResponse()
  },
  computed: {
  }
}
</script>

<template>
<div id="hello" class="container-fluid">
  <head-comp></head-comp>
  <gallery></gallery> 
  <partners></partners>
</div>
</template>

<style >
body {
  font-size: 16px;
  overflow-x:hidden;
}
</style>